In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed data/cleaned_data_v1.csv')
df.head()

,Kms_Driven,new_Selling_Price,new_Present_Price,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,27000,335000.0,559000.0,8,0,1,1
1,43000,475000.0,954000.0,9,1,0,1
2,6900,725000.0,985000.0,5,0,1,1
3,5200,285000.0,415000.0,11,0,1,1
4,42450,460000.0,687000.0,8,1,0,1

In [3]:
X=df.drop(['new_Selling_Price'],axis=1)
X

,Kms_Driven,new_Present_Price,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,27000,559000.0,8,0,1,1
1,43000,954000.0,9,1,0,1
2,6900,985000.0,5,0,1,1
3,5200,415000.0,11,0,1,1
4,42450,687000.0,8,1,0,1
...,...,...,...,...,...,...
195,33988,1160000.0,6,1,0,1
196,60000,590000.0,7,0,1,1
197,87934,1100000.0,13,0,1,1
198,9000,1250000.0,5,1,0,1
199,5464,590000.0,6,0,1,1

In [4]:
y=df['new_Selling_Price']
y

0       335000.0
1       475000.0
2       725000.0
3       285000.0
4       460000.0
         ...
195     950000.0
196     400000.0
197     335000.0
198    1150000.0
199     530000.0
Name: new_Selling_Price, Length: 200, dtype: float64

In [17]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=12)

In [6]:
type(X_test)

pandas.core.frame.DataFrame

In [9]:
X_test.to_csv("../data/test data/test_data.csv",index=False)

In [18]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [8]:
import pickle
with open('../models/lr_model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)

In [19]:
ypred=model.predict(X_test)

In [20]:
ypred

array([ 269336.56154263,  829092.41932099,  222179.17093889,
        633475.61317048, 2097284.34753404,  806830.43785934,
        506999.28969108,  682752.55958332,  697548.99870379,
        790558.19282635,  741610.63986007,  508271.29312219,
        518088.29806224,  602450.89321903,  873783.73065172,
        300348.81032933,  176020.37786941,  855623.61649514,
        879183.18117846,  663937.38873719,  597320.31427391,
        912637.61034248,  463511.30612996,  702485.78468588,
        573495.99569343, 1893079.15502536,  581498.03372385,
        332405.28160468,  708050.89270172,  886746.0173047 ,
        827002.2580475 ,  451085.36164802,  755083.79161416,
       1893079.15502536,  482839.15438187,  703708.94079851,
        518201.57134164,  660282.71402468,  715169.24953028,
       1072115.55057344])

In [24]:
ypred.round(0)

array([ 269337.,  829092.,  222179.,  633476., 2097284.,  806830.,
        506999.,  682753.,  697549.,  790558.,  741611.,  508271.,
        518088.,  602451.,  873784.,  300349.,  176020.,  855624.,
        879183.,  663937.,  597320.,  912638.,  463511.,  702486.,
        573496., 1893079.,  581498.,  332405.,  708051.,  886746.,
        827002.,  451085.,  755084., 1893079.,  482839.,  703709.,
        518202.,  660283.,  715169., 1072116.])

In [12]:
X_test

,Kms_Driven,new_Present_Price,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
23,45280,346000.0,8,0,1,1
182,9010,1180000.0,6,0,1,1
172,61203,750000.0,12,0,1,1
21,2400,571000.0,5,0,1,1
63,47000,3596000.0,7,1,0,0
11,51000,1038000.0,7,1,0,1
61,40588,770000.0,7,0,1,1
32,39000,749000.0,8,1,0,1
164,21200,870000.0,5,0,1,1
7,33429,861000.0,7,1,0,1
95,72000,1861000.0,10,0,1,1
173,16500,680000.0,8,0,1,1
132,53000,570000.0,9,1,0,1
120,32000,679000.0,9,0,1,0
98,45000,1861000.0,9,0,1,1
138,23709,443000.0,10,0,1,1
31,54200,489000.0,11,0,1,1
16,41678,1079000.0,7,1,0,1
181,63000,1400000.0,8,1,0,1
85,142000,2373000.0,16,0,1,0
185,28569,790000.0,6,0,1,1
166,19434,940000.0,6,1,0,1
101,28200,570000.0,7,0,1,1
129,45000,940000.0,9,1,0,1
113,20114,570000.0,5,0,1,1
51,40000,3061000.0,7,1,0,0
167,19000,580000.0,5,0,1,1
88,47000,605000.0,9,0,1,1
108,21125,570000.0,7,1,0,1
136,68000,1360000.0,7,1,0,1
29,45000,1038000.0,7,1,0,1
183,9800,590000.0,9,0,1,1
152,48000,990000.0,8,1,0,1
93,40000,3061000.0,7,1,0,0
189,19000,640000.0,8,0,1,1
139,32322,940000.0,10,1,0,1
179,14465,590000.0,7,0,1,1
55,70000,1504000.0,13,0,1,0
1,43000,954000.0,9,1,0,1
5,2071,983000.0,4,1,0,1